/* Ajuste preliminar */
* { 
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
.header {
    background-color: #3c578e;
    color: gold;
    padding-top: 30px;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header > section {
    display: flex;
    flex-direction: column;
}

#header-logo {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    align-self: center;
    text-decoration: none;
    color: gold;
}

/* menu de navegação */
.menu {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* item do menu */
.menu > a {
    background-color: #669a9f;    
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    align-content: center;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* destaque da aba referente à página atual */
#current_tab {
    background-color: #6ac;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px;
}

/* Bloco principal */
.main-container{
    background-color: #6ac;
    padding: 25px;
    color: black;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
}

/* Espaçamento de sub-títulos e conteúdo anterior*/
h3, h2 {
    margin-top: 10px;
}

/* Sessões */
.main-element {
    background-color: azure;
    border-radius: 22px;
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    padding: 25px;
    gap: 10px;
    align-items: center;
}

/* Sub-sessões */
.main-sub-element, h2, h3 {
    display: flex;
    flex-flow: column wrap; 
    padding: 0 0 12px;
    align-self: start;
}

/* botão de ver detalhes da sessão*/
.button {  
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button > a {
    background-color: #abe2fb;
    border-radius: 11px;
    padding: 10px;
    font-family: 'Times New Roman';
    color: black;
    text-align: center;
    text-decoration: none;    
}

/* botão de ver detalhes da notícia*/
.button_typeB {  
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.button_typeB > a {
    background-color: #abe2fb;
    margin-top: 5px;
    padding: 5px;
    font-family: 'Times New Roman';
    color: black;
    text-align: center;
    text-decoration: none;    
}

/* Container de cartões */
.cartão_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/* Cartões */
.cartão {
    background-color: #bde3f9;
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 1.5% 2% 1.5% 3%;
    margin-bottom: 30px;
    border-radius: 15px;
    color: black;
}

/* Botão dentro do cartão */
.view_details {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.view_details > a {
    background-color: #abe2fb;
    border-radius: 11px;
    padding: 20px;
    font-family: 'Times New Roman';
    color: black;
    text-decoration: none; 
    margin-top: 5%; 
}

/* centralizar notícias */
.center {
    display: flex;
    justify-content: center;
} 

/* Colocar ícones e nomes lado-a-lado */
.icon-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    margin: 10px;
    font-size: 16pt;
    color: black;
}

.icon-text > a {
    font-family: 'Times New Roman';
    color: black;
    text-decoration: none;
}

/* Galeria de imagens */
#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5px;
}

.foto_galeria {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid #ccc;
    width: calc(25% - 20px);
}

.foto_galeria:hover {
    border: 2px solid #777;
}

.foto_galeria img {
    width: 100%;
    height: auto;
}

.foto_descrição {
    padding: 8px;
    align-self: center;
}

@media only screen and (max-width: 780px) {
.foto_galeria {
    width: calc(50% - 10px);
}
}

@media only screen and (max-width: 480px) {
.foto_galeria {
    width: 100%;
}    
}

/* Newsletter */
#inscreva-se {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}

#inscreva-se > nav {
    background-color: darkorchid; 
    padding: 10px; 
    border-radius: 8px;
    width: fit-content;
    font-size: 16px;
}

/* Formulário */

.form {
    margin: 15px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
}

.fieldset {
    padding: 25px;
}

.fieldset > legend {
    font-weight: bold;
}

.form > input {
    font-weight: bold;
    width: fit-content;
    border-radius: 4px;
    margin-left: 20px;
    padding: 8px;
}

/* Rodapé */
.footer {
    background-color: #3c578e;
    color: azure;
    padding: 40px;
    display: flex;
    flex-flow: row nowrap;    
    gap: 45px;
    align-items: center;
}

/* Conteúdo do rodapé */
.icon-text > a {
    color: azure;
    margin: 25px;
}

#social > article {
    background-color: #000000;
    border-radius: 20px;
    padding: 0 10px 0 10px;
}

ul, ol {
    margin-left: 50px;
}
