/* Ajuste preliminar */
* { 
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* Tamanho de fonte*/
p { font-size: 19px;}

h3 { font-size: 23px; }

h2 { font-size: 29px; }

h1 { font-size: 37px; }

/* Outros ajustes */
li { margin-left: 19px; }

/* Ajuste do corpo de página */
body {
    background-color: azure;
    color: black;
    display: grid;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    grid-template-columns: 5fr 1fr;
}

/* botões */
.btn {
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 12px;
    display: block;
    justify-self: center;
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.15);
    transition: background-color 300ms, transform 350ms, box-shadow 300ms;
}

.btn:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}

.btn-cor0 {
    background-color: #6acdfb;
    color: black;
}

.btn-cor0:hover {
    background-color: #39bdfb;
}

.btn-cor1 {
    background-color: #6ddc78;
    color: black;
}

.btn-cor1:hover {
    background-color: #60e66e;
}


.btn-cor2 {
    background-color: darkorchid;
    color: white;
}

.btn-cor2:hover {    
    background-color: darkviolet;
} /* Fim botões */

/* Cartões */
.cartão {
    box-shadow: -2px 2px 2px 2px rgba(0,0,0,0.1);
    border-radius: 11px;
    max-width: 400px;
    min-height: 250px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    color: black;
}

/* Cabeçalho */
.header {
    grid-area: header;
    background-color: #3c578e;
    color: gold;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
}

.header > section {
    display: flex;
    flex-direction: column;
}

#header-logo {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    align-self: center;
    text-decoration: none;
    color: gold;
    padding: 20px;
}

/* menu de navegação */
.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* item do menu */
.menu > a {   
    font-weight: bold;
    border: 1px solid #3c578e;
    background-color:  #3c578e;
    color: gold;
    text-decoration: none;
    padding: 45px 25px;
}

/* destaque da aba referente à página atual */
#current_tab {
    border: 1px solid gainsboro;
    color: yellow;
}

/* Bloco principal */
.main{
    grid-area: main;
    color: black;
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    min-width: 75%;
    width: 100%;
}

/* Sessões */

/* Container de elementos em linha(row) */
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

/* Container de elementos em coluna(column) */
.container-vertical {
    padding: 2%;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
}

/* Formatação de Títulos para conteúdos de texto*/
.container-vertical > h2 {
    background-color: rgba(0, 0,0, 0.4);
    border-radius: 11px;
    padding: 10px;
    min-width: 50%;
    max-width: 1024px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

/* Títulos com redirecionamento */
h2 > a {
    text-decoration: none;
    color: black;
}

/* Sub-sessões */
.conteudo {
    width: 80%;
    padding: 0 0 12px 48px;  
}

/* Capa - primeira sessão */
.fundo-capa {
    width: 100%;
    height: 800px;
    background-image: url('../Recursos/pixabay_cat-3038243_1280.jpg');   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-self: center;
    justify-content: end;
}

.conteudo-capa {
    margin: 8vh ;
    max-width: 50vh;
    height: 60vh;
    background-color: rgba(0, 0,0, 0.8);
    color: white;
    align-self: center;
    justify-content: space-around;
}

/* Ajuste da capa em resoluções reduzidas */
@media only screen and (max-width: 1024px) {
/* mudança no estilo do cabeçalho */
    .header {
        flex-direction: column;
    }

    /* item do menu */
    .menu > a {
        padding: 10px 16px 12px;
    }

    .main {
        width: 100%;
    }
    .main-element {
        padding: 10px 0;
    }

    .main-element > h2 {
        width: 66%;
    } 
    .fundo-capa {  
        background-size: auto;
        width: 100%;
        max-height: 498px;
        justify-content: center;
    }
    .conteudo-capa {
        width: 498px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 698px) {
    .menu {
        flex-wrap: wrap-reverse;
        justify-content: end;
    }
}

/* centralizar notícias */
.center {
    display: block;
    align-self: center;    
} 

/* Galeria de imagens */
.foto_galeria {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid #CCC;
    width: calc(25% - 62px);
    transition: transform 300ms;
    justify-content: center;
    align-items: center;
}

.foto_galeria:hover {
    transform: scale(1.03);
    border: 2px solid #777;
}

.foto_descrição {
    padding: 8px 0;
}

@media only screen and (max-width: 780px) {
.foto_galeria {
    width: calc(50% - 10px);
}
}

@media only screen and (max-width: 480px) {
.foto_galeria {
    width: 100%;
}    
}

/* Formulário */

.form {
    margin: 15px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
}

.fieldset {
    padding: 25px;
}

.fieldset > legend {
    font-weight: bold;
}

.form > input {
    font-weight: bold;
    width: fit-content;
    border-radius: 4px;
    margin-left: 20px;
    padding: 8px;
}

/* Rodapé */
.footer {
    grid-area: footer;    
    background-color: #365186;
    color: azure;
    padding: 10px;
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footer > nav {
    width: 100%;
}

.footer-menu {
    list-style: none;
    flex-wrap: wrap-reverse;    
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.footer  a{ 
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    align-items: center;
}